<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/Volumes/d/logs/minn-admin.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/Volumes/d/logs/minn-admin.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="p.minn" level="INFO" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="java.sql" level="INFO">
	  <appender-ref ref="console" />
	</logger>
	<logger name="com.ibatis" level="INFO"/>
	<logger name="org.springframework" level="DEBUG">
	</logger>
	
   <logger name="p.minn" level="INFO">
      <appender-ref ref="console" />
   </logger>
   <logger name="org.jasig.cas" level="INFO">
      <appender-ref ref="console" />
   </logger>

	<root level="error">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>